{% extends 'index.html' %}
{% block content %}


  <h3>Add Customer Details</h3>
<div class="create-user">
  <form method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name" placeholder="First Name">
      </div>
    <div class="form-group col-md-6">
      <label for="LastName">Last Name</label>
      <input type="text" class="form-control" name="LastName" placeholder="Last Name">
    </div>
    </div>

    <div class="form-group">
     <label for="Address">Address</label>
     <input type="text" class="form-control" name="Address" placeholder="Address">
   </div>
  <div class="form group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="Staff">
        <label class="form-check-label" for="Staff">Is staff?</label>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Number">Number</label>
      <input type="text" class="form-control" name="Number" placeholder="Contact Number">
    </div>

    <div class="form-group col-md-6">
      <label for="Email">Email</label>
      <input type="email" class="form-control" name="Email" placeholder="Email">
    </div>
  </div>

      <input class="btn btn-dark" type="submit" name="CheckIn" value="Add User">
  </form>
</div>


{% endblock %}
